*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: monospace;


}

.linear-gradient-background {
    background-image: linear-gradient(rgba(24,155,204,0.4) 0%, rgba(24,155,204,0.6) 100%);
}

html{
    margin: 0;
    padding: 0;
    max-width: fit-content;
    width: 100%;
}

body{
    background-image: linear-gradient(rgba(24,155,204,0.4) 0%, rgba(24,155,204,0.6) 100%);
    background-size: cover;
    background-attachment: fixed; 
    width: 100%;
    margin: 0;

}

header{
    display: flex;

}

.hero-image {
    width: 100%;
    max-height: fit-content;
}

.hero-image img {
    height: 700px;
    width: 100%; 
}

.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    background-color:  #189BCC;

    width: 100%;
    height: 75px;
    border-bottom:  1px solid black;

}

.navbar-h1 {
    margin-right: auto;
    margin-left: 20px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    padding-left: 0;
    background-color:  #189BCC;

}

.navbar li{
    margin-right: 20px;
    width: 100px;
    margin: 1%;
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    /* background-color:  #189BCC; */
    
}

.navbar li a {
    text-decoration: none; /* This removes the underline */
    color: black;
}

.navbar li:hover {
    color: #189BCC;
    box-shadow: 4px 4px 15px 4px black; 
}


p{
    max-width: 100%;
    display: inline-block;
    font-size: 16px;
}


section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
}




h3{
    border-radius: 3px;
    border-color: #189BCC;
    color: white;
    background-color: bl;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 


.about-container{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
width: 100%;
}

.about-img {
    max-width: 100%; 
    object-fit: cover;
}

.about-content {
    background-color:  #189BCC;
  
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    overflow: auto;

}

.about-img, .about-content {
    width: 50%; 
    height: 600px; 
   
}


#about-h1 {
    font-size: 50px;
    border-bottom:  2px solid black;
    box-shadow: 50% #189BCC;
}

.mywork-h1{
    font-size: 50px;
    align-content: center;
  

}
#mywork-h1-bottomborder{
    border-bottom:  2px solid black;

}

.linear-gradient-background{
    background-size: cover;
}

.block-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
    margin: 0 auto; 
    height: auto;
}

.block-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: space-between;
    align-content: space-between;
}

.block-item {
    flex-basis: calc(33.33% - 5%);
    margin: 2.5%; 
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 600px;
}

#double-size {
    flex-basis: 100%; 
    align-items: center;

}

.block-item img {
    transition: opacity .2s;
    opacity: 0.3;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 0; 
    left: 0;
}

.block-item h3 {
    z-index: 2; 
    position: absolute; 
    padding: 5px;
}

.block-item img:hover {
    opacity: 1;
    cursor: grab;
    box-shadow: 0px 0px 15px 0px black;
    background-color: #189BCC;
}

.block-item:hover h3 {
    background-color: black;
    color: white; 
}

#github-link{

}

#linkedin-link{

}

#pubic-link{

}

#coding-link{

}

#about-link{

}

#email-link{
    
}

footer{
    background-color:  #189BCC;
    height: 100px;
    max-width: 100%;
}

footer p {
    margin-left: 50px;
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .navbar-h1 {
        margin: 10px 0;
        border-bottom: 2px solid black;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
        width: 100%;
    }

    .navbar li a {
        font-size: 20px;
    }

    .about-container {
        flex-direction: column;
    }

 
    .hero-image {
        width: 100%;
        max-height: fit-content;
        display: none;
    }
    
    .hero-image img {
        height: auto;
        width: 100%; 
    }

    .about-img, .about-content {
        width: 100%;
        height: auto;
    }

    .block-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .block-item {
        flex-basis: 100%;
        width: 90%; 
        height: auto;
    }

    .block-item img {
        position: relative;
    }
    
    h3 {
        font-size: 20px; 
    }
}
